[Unit]
Description=Multiline Distance Vector Routing Daemon Service

[Service]
Type=forking
ExecStart=/usr/bin/python3 /usr/bin/mdvrd -f /etc/mdvrd/mdvrd.json

[Install]
WantedBy=multi-user.target
